.navbar-brand > img{
    margin-right: 10px;
}
a.navbar-brand {
    color: cornsilk;
}
.btn-outline-success {
    color: #1976d2;
    border-color: #1976d2;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #1976d2;
    border-color: #1976d2;
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #1976d2;
    background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #1976d2;
  border-color: #1976d2;
}